* {
  font-family: 'Heebo', sans-serif;
  letter-spacing: 1px;
  word-spacing: 5px;
}

html {
  overflow-x: hidden;
  padding: 0;
  margin: 0;

}

h1 {
  font-weight: bold;
}

/* Top Screen */

/*navigation bar*/
nav {
  display: flex;
  background-color: #272222;
  justify-content: space-around;
  align-items: center;
  color: #eeeeee;
}

.navigation-side {
  width: 70%;
}

.navigation-items {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.navigation-item {
  list-style-type: none;
}

.navigation-item a {
  color: #cfc7c7;
  letter-spacing: 3px;
}

.navigation-item a:hover {
  color: grey;
  text-decoration: none;
}

.navigation-heading img {
  margin: 8px;
  max-height: 70px;
}

@media (max-width: 990px) {}




/* Records */
#trophies {
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: blue; */

  padding: 20px;
}

.rec-heading {
  text-align: center;
  margin: 20px;
}

.record-heads {
  margin-top: 200px;
}

.competitions {
  background-color: #ffffff;
  margin: 30px;
  border-radius: 20px;
  padding: 20px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.progress {
  height: 20px;
}

/* Evolution */
.evolution-head {
  margin: 30px;
  text-align: center;
}

.carousel {
  max-height: 100vh;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: auto;
}

.carousel-item {
  opacity: 70%;
}

.carousel-caption {
  padding-bottom: 10%;
  max-width: 50%;
  position: absolute;
  left: 25%;
}

.carousel-caption h5 {
  margin: auto;
  background-color: grey;
  padding: 10px;
  font-size: 2rem;
  border-radius: 100px;
}

.carousel-caption p {
  margin: inherit;
  padding: 10px;
  background-color: grey;
  font-size: 1.3rem;
  border-radius: 0 0 60px 60px;
}

.carousel-indicators {
  padding-bottom: 3%;
}

.starting h5 {
  border-radius: 100px;
}

.debut {
  left: 25%;
}

.firstgoal {
  top: 70%;
}

.hatrick {
  padding-bottom: 230px;
  top: 60%;
}

/* Quotes */

.quote-head {
  text-align: center;
  padding: 30px;
  color: #eeeeee;
}

.quote {
  background-color: #ffffff;
  margin: 30px;
  border-radius: 20px;
  padding: 30px 30px;
  height: 210px;
}

@media (max-width: 670px) {
  .big-heading {
    padding-top: 0;
  }

  .quote {
    height: auto;
  }
}

.quote h4 {
  text-align: right;
}

.ballers {
  height: 90px;
  width: 90px;
}

/* Performances */
#performances {
  background-color: grey;
}

.performance-head {
  text-align: center;
  padding: 30px;
  color: #272222;
}

.my-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
}

.my-container>div {
  background-color: #eeeeee;
}

.my-container>div:nth-child(odd) {
  background-color: #dddddd;
}

.box {
  transition: transform 0.2s;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.5; */
}

.content {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: 100%;
  opacity: 0.5;
  transition: 0.5s ease;
}

.text {
  color: white;
  background-color: grey;
  text-align: center;
}

.box:hover .content {
  opacity: 0.75;
}

.box1 {
  grid-column: 1;
  grid-row: 4/6;
}

.box2 {
  grid-row: 3/7;
  grid-column: 2/3;
  background-position-x: center;
}

.box3 {
  grid-row: 1/4;
  grid-column: 3/6;
}

.box4 {
  grid-row: 1/4;
  grid-column: 1/2;
}

.box5 {
  grid-row: 1/3;
  grid-column: 2/3;
  background-position-y: center;
}

.box6 {
  grid-row: 6/9;
  grid-column: 1/2;
  background-position-x: center;
}

.box7 {
  grid-row: 6/9;
  grid-column: 3/6;
}

.box8 {
  grid-row: 7/9;
  grid-column: 2/3;
}

.box9 {
  grid-row: 4/6;
  grid-column: 3/6;
}

@media (max-width: 990px) {
  .my-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6,
  .box7,
  .box8,
  .box9 {
    grid-row: unset;
    grid-column: unset;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
  }

  .box9 {
    grid-column: 1/3;
  }

  .box .content .text {
    height: inherit;
  }

  .box9 .content {
    margin-left: 25%;
  }

  .box9 .content .text {
    margin: unset;
    height: 25px;
    width: 50%;
    text-align: center;
  }

  .box3,
  .box5 {
    background-position-x: right;
  }

  .box1,
  .box8 {
    background-position-x: center;
  }

  .box3 {
    background-position-y: center;
  }

  .content {
    opacity: 0.75;
    border-radius: 50px;
    padding-top: 7%;
  }

  .text {
    margin: 5%;
    max-height: 80px;
    border-radius: 10px;
  }

  .para {
    opacity: 0;
  }
}